#wrapper {
  overflow-x: hidden;
}

#contact {
  width: 100%;
  height: 900px;
  position: relative;
  margin: 0 auto;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#contact_inner {
  width: 760px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 13;
}

#contact_inner > * {
  text-align: center;
  color: #B31C33;
}

#contact_inner .title {
  font-weight: 900;
  font-size: 120px;
  line-height: 120px;
}

#typing_area {
  width: 602px;
  height: 100px;
  margin: 0 auto;
}

#typing {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 100px;
  float: left;
  color: #B31C33;
}

#typing ~ span {
  height: 100px;
  font-size: 50px;
  font-weight: 600;
  line-height: 100px;
  color: #B31C33;
  opacity: 1;
  float: left;
}

#typing ~ span.on {
  -webkit-animation: blink 1s 3 linear normal;
          animation: blink 1s 3 linear normal;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

#link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  clear: both;
}

#link li {
  float: left;
  margin: 0 10px;
}

#link a {
  height: 40px;
  padding: 0px 20px;
  background: #B31C33;
  line-height: 40px;
  color: white;
  text-align: center;
  border-radius: 40px;
  font-weight: 300;
}

#link a:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#copy_text {
  opacity: 0;
  position: absolute;
  left: 99999999px;
}

#popup {
  position: fixed;
  width: 340px;
  height: 120px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  font-weight: 600;
  border-radius: 10px;
  padding: 50px 0;
  font-size: 18px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 14;
}

#popup.on {
  display: block;
  -webkit-animation: close 1 1s normal linear;
          animation: close 1 1s normal linear;
}

@-webkit-keyframes close {
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes close {
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#deco {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1920px;
  height: 900px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

#deco li {
  position: absolute;
}

.hall {
  width: 180px;
}

.half {
  width: 180px;
}

.half:hover {
  -webkit-animation: spin infinite linear normal 1s;
          animation: spin infinite linear normal 1s;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.circle {
  width: 85px;
}

#deco li:nth-child(1) {
  top: 260px;
  left: 1300px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-animation: move 1.5s infinite ease-in-out normal;
          animation: move 1.5s infinite ease-in-out normal;
}

#deco li:nth-child(2) {
  top: 120px;
  left: 100px;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  -webkit-animation: move 2s infinite ease-in-out normal;
          animation: move 2s infinite ease-in-out normal;
}

#deco li:nth-child(3) {
  top: -80px;
  left: 600px;
  -webkit-transform: rotate(-165deg);
          transform: rotate(-165deg);
  -webkit-animation: move 1.8s infinite ease-in-out normal;
          animation: move 1.8s infinite ease-in-out normal;
}

#deco li:nth-child(4) {
  top: 500px;
  left: -40px;
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
  -webkit-animation: move 2.2s infinite ease-in-out normal;
          animation: move 2.2s infinite ease-in-out normal;
}

#deco li:nth-child(5) {
  top: 600px;
  left: 400px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-animation: move 1.8s infinite ease-in-out normal;
          animation: move 1.8s infinite ease-in-out normal;
}

#deco li:nth-child(6) {
  top: 800px;
  left: 1360px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-animation: move 1.6s infinite ease-in-out normal;
          animation: move 1.6s infinite ease-in-out normal;
}

#deco li:nth-child(7) {
  top: 240px;
  left: 400px;
  -webkit-animation: move 1.8s infinite ease-in-out normal;
          animation: move 1.8s infinite ease-in-out normal;
}

#deco li:nth-child(8) {
  top: 100px;
  left: 1200px;
  -webkit-animation: move 2.2s infinite ease-in-out normal;
          animation: move 2.2s infinite ease-in-out normal;
}

#deco li:nth-child(9) {
  top: 220px;
  left: 1860px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-animation: move 2s infinite ease-in-out normal;
          animation: move 2s infinite ease-in-out normal;
}

#deco li:nth-child(10) {
  top: 860px;
  left: 230px;
  -webkit-animation: move 2s infinite ease-in-out normal;
          animation: move 2s infinite ease-in-out normal;
}

#deco li:nth-child(11) {
  top: 760px;
  left: 1080px;
  -webkit-animation: move 2.2s infinite ease-in-out normal;
          animation: move 2.2s infinite ease-in-out normal;
}

#deco li:nth-child(12) {
  top: 570px;
  left: 1650px;
  -webkit-animation: move 2s infinite ease-in-out normal;
          animation: move 2s infinite ease-in-out normal;
}

@-webkit-keyframes move {
  50% {
    margin-top: 20px;
  }
}

@keyframes move {
  50% {
    margin-top: 20px;
  }
}

footer {
  z-index: -1;
}
/*# sourceMappingURL=contact.css.map */